* {
    margin:0;
    padding:0;
     font-family:'Helvetica Neue';
}
body {
   
    width:1215px;
    height:1010px;
    
    
}

@font-face {
    font-family: Helvetica Neue;
    src: url('helveticaneuecyr-light.otf');
}
.wrapper {
   
    width:100%;
    height:100%;
    background-image:url('background.png');
   
   
}

.top_menu {
    background: rgb(27,82,136);
    width:100%;
    height:50px;  
}
  

.navigation {
    list-style:none;
    display:block;
    float:right;
    margin-right:20px;
    height:50px;
    margin-top:-3px;
}
    .navigation li {
    display:inline-block;
   
    padding: 15px 5px 15px 5px;
    color:rgb(102,204,255);
    font-size:14px;
    height:50px;
    
    }
        .navigation li:hover {
        color:white;
        background-color:rgb(78,171,218);
        cursor:pointer;
        }
        
        .navigation li i:before{
            border-left:solid 2px;
            border-color:rgb(102,204,255);
            padding:10px;
            border-color:white;
        }
        .navigation li i, .navigation li p  {
        display:inline-block;
        color:white;
        }
        .navigation li i {
            margin-top:2px;
            font-size:20px;
            padding:0 10px 0 15px;
            border-color:rgb(102,204,255);
        }
        

.register_form {
     
     margin:auto;
     margin-top:15%;
    width:550px;
    height:610px;
    color:white;
    background-color:rgba(0,0,0,0.6);
   
}

    .register_form h1 {
        text-align:center;
        font-size:24px;
        padding-top:10px;
    }


.social {
    width:100%;
}

    .social img {
        margin:auto;
        display:block;
        position:center;
    }

.divide_line {
    display:block;
    margin:20px auto 15px auto;
    width:365px;
    padding-left:35px;
}
.divide_line div {
    display:inline-block;
    position:center;
    color:rgb(204,204,204);
}
    .divide_line div:first-child, .divide_line div:last-child {
        border-bottom:thin;
        border-bottom-style:solid;
        width:40%;
        border-color:rgb(204,204,204);
        position:relative;
        margin-bottom:5px;
    }
.user_info {
    margin:auto;
    color:rgb(204,204,204);

}
.user_info input {
    display:block;
    margin:0 auto 15px auto;
    padding:10px 0 10px 15px;
    font-size:14px;
    width:300px;
    background-color:black;
    border:thin;
    border:2px;
    color:white;
}
    .user_info input:focus {
    background-color:rgb(27,82,136);
    box-sizing:border-box;
    -webkit-box-shadow: 2px 2px 1px 1px rgba(77,136,175,1);
    box-shadow: 0px 0px 5px 3px rgba(77,136,175,1);
    }

.user_info div{
    display:block;
    margin:0 auto 0px auto;
    width:300px;
}
#updates_confirm {
    width:20px;
}
.user_info div input{
    color:red;
    display:inline-block;
}

.user_info .create_account {
    width:200px;
    border-radius:4%;
    padding:10px;
    background-color:rgb(49,127,199);
    text-align:center;
    color:white;
    margin-bottom:20px;

}
.create_account:hover{
    cursor:pointer;
}

.agree_policy {
    display:block;
    margin:auto;
    width:380px;
    text-align:center;
     color:rgb(204,204,204);
     font-size:11px;
}

